<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/mentor.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/css/students.css" media="screen">
        <!-- <link href="https://fonts.googleapis.com/css?family=Jua|Metal+Mania" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Jua|Metal+Mania|Pacifico" rel="stylesheet">
    </head>
    <div id="contentbox" class="contentbox" style="flex-direction: column; align-items: center;">
        <body>
            <header class="navigationbar">
                <nav>
                    <a style="text-align: left" href="/mentor">HOME</a>
                    <h1>Quest Store</h1>
                    <a href="">Account</a>
                </nav>
            </header>
            <div id="addbutton" class="addbutton animate">
                <button onclick="{{functionName}}" id="addstudent">{{addButtonName}}</button>
            </div>
            <div id="studentsform">
                <form id="form_tag" name="form" method="POST">
                <div id="form">
                </div>
                <div id="add"></div>
                </form>
                <div class="studentscontainer animate">
                    {% for element in list %}
                        <div class="studentsbox">
                            <a href="">{{element.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </body>
    </div>
    <footer></footer>
    <script src="{{jsPath}}"></script>
</html>