<!DOCTYPE HTML>

<html>
<script src="static/js/filterArtifacts.js"></script>
<script src="static/js/toggleStats.js"></script>
<script src="static/js/toggleInventory.js"></script>


<head>
  <title>QuestStore: Student</title>
  <meta charset="utf-8" />

  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="stylesheet" href="static/css/questStore.css" />

</head>

<body onload="filterSelection('all');">
  <div class="page-wrap">

    <section class="banner">
      <img class="main-logo" src="static/pictures/logo/logo-med.png" alt="qs-logo">
    </section>

    <section>
      <div id="category-selection">
        <a href="#" onclick="toggleInventory();">inventory</a>
        <a href="#" onClick="toggleStats();">stats</a>
        <a class="btn active" href="#" onClick="filterSelection('all');">all</a>
        <a class="btn" href="#" onClick="filterSelection('personal')">personal</a>
        <a class="btn" href="#" onClick="filterSelection('group')">group</a>
      </div>
    </section>

    <section id="main">
      <div id="character">
        <img class="avatar-picture" src="static/pictures/avatar/avatar.png" alt="Combat training">
        <div class="stats">
          <table>
            <tr>
              <th>name:</th>
              <td class="stat-value"> {{username}} </th>
            </tr>
            <tr>
              <th>balance:</th>
              <td class="stat-value">{{userbalance}}</td>
            </tr>
            <tr>
              <th>level:</th>
              <td class="stat-value">{{userlevel}}</td>
            </tr>
          </table>
        </div>
      </div>

      <section>
        <div id="inventory">
        {% if ownedcards | length < 1 %}
            <h1 class="inventory-message">You haven't got any artifacts yet. Get some now!</h1>
        {% endif %}
        {% for card in ownedcards %}

        <div class="card all {{card.category}}">
          <div class="card-container">
            <h2 class="card-header">{{card.name}}</h2>
            <h3 class="card-price">${{card.price}}</h3>
            <img class="card-picture" src="static/pictures/cards/{{card.artifactId}}.png" alt="{{card.name}}">
            <h3 class="card-description">{{card.description}}</h3>
          </div>

          <div class="buy-button">

          {% if card.status == 0 %}
            <form action="" method="post">
            <button class="buy-btn" name="use" value={{card.uniqueId}}>use artifact</button>
            </form>
          {% elseif card.status == 1 %}
            <h2 class="yellow-btn">waiting for approval</h2>
          {% elseif card.status == 2 %}
            <h2 class="red-btn">artifact used</h2>
          {% endif %}

          </div>
        </div>
        {% endfor %}
        </div>
      </section>

      <div class="cards-grid">
        {% for card in availablecards %}

        <div class="card all {{card.category}}">
          <div class="card-container">
            <h2 class="card-header">{{card.name}}</h2>
            <h3 class="card-price">${{card.price}}</h3>
            <img class="card-picture" src="static/pictures/cards/{{card.artifactId}}.png" alt="{{card.name}}">
            <h3 class="card-description">{{card.description}}</h3>
          </div>

          <div class="buy-button">
          {% if userbalance >= card.price %}
            <form action="" method="post">
            <button class="buy-btn" name="buy" value={{card.artifactId}}>get artifact</button>
            </form>
          {% else %}
            <h2 class="red-btn">insufficient funds</h2>
          {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>

  </div>
  </section>

  </div>
  <script src="static/js/filterSelection.js"></script>
</body>



</html>